/* Общие стили */
html, html body {
    height: 100%;
    margin: 0;
    background-color: ivory;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.zoomable {
    transition: transform 0.3s ease;
}

.zoomable:hover {
    transform: scale(1.05);
}

.general {
    flex: 1 0 auto;
}

h1 {
    transition: transform 0.2s ease;
}
h1:hover {
    transform: scale(1.1);
}

footer {
    flex-shrink: 0;
    align-self: flex-end;
    background-color: #a7351e;
    color: ivory;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    justify-self: end;
}

.site-header nav {
    display: flex;
    justify-content: center;
    background-color: #a7351e;
    padding: 10px 0;
}

.site-header a {
    color: ivory !important;
    text-decoration: none;
    margin: 0 15px;
}

a {
    color: black !important;
}

.site-header a:focus {
    color: ivory;
    text-decoration: none;
}

.site-header a:hover {
    color: burlywood;
    text-decoration: underline;
}

section {
    padding: 20pt, auto, auto, auto
}

img {
    max-width: 100%;
    height: auto;
    transition: transfotm 0.2s ease-in;
    transform-style: preserve-3d;
}

img.card-img-top {
    /* height: 225px; */
    width: fit-content;
}

.card {
    background-color: blanchedalmond;
}

.row {
    margin-bottom: 20px;
}

.btn-primary {
    background: maroon !important;
    border: none !important;
}

#topButton {
    position: fixed;
    color: ivory !important;
    bottom: 8pt;
    left: 8pt;
}

@media(max-width:768px) {
    #topButton {
        display: none;
    }
}

p {
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }